
/* Your CSS Code here. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holder{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
}

.item-1{
    width: 100px;
    height: 100px;
    background-color: red;
}
